body {
    background-image: url("../images/backgroundimage.jpg");
    background-size: 100%;
    text-align: center;
    color: white;
    font-size: large;
}
.crystals {
    display: flex;
    justify-content: center;
    align-items: center;

}
.crystal{
    margin: 5%;
}

#randomGoal {
    font-size: xx-large;
    height: 200px;
    width: 200px;
   display: inline-block;

}

#totalScore {
    font-size: xx-large;
    height: 200px;
    width: 200px;
   display: inline-block;
}
img .crystal{
 height: 200px;
 width:200px;
}
